apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "auth0.fullname" . }}
  labels:
    {{- include "auth0.labels" . | nindent 4 }}
data:
  config.yaml: |
    issuer: {{ .Values.config.issuer }}
    audience: {{ .Values.config.audience }}
    port: {{ .Values.config.port }}
    corsOrigins:
    {{- range .Values.config.corsOrigins }}
    - {{ . }}
    {{- end }}
    users:
    {{- toYaml .Values.config.users | nindent 4 }}
    branding:
      {{- toYaml .Values.config.branding | nindent 6 }}
---
{{- if .Values.customLogin.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "auth0.fullname" . }}-login
  labels:
    {{- include "auth0.labels" . | nindent 4 }}
data:
  login.html: |
{{ .Values.customLogin.html | indent 4 }}
{{- end }}
